<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('header.ejs', {data: data }); %>
        <br />
        <div class="text-center">
            <u>
                <h2>SELECT A DOCTOR</h2>
            </u>
        </div>
        <br />
        <div>
            <ol style="padding-left: 5rem;">
                <% data.doctor.forEach(function(item){ %>
                    <div>
                        <li style="font-size:1.5rem">
                            <h4>Doctor Name : <%= item.name %>
                            </h4>
                            <h4>Doctor Address : <%= item.address %>
                            </h4>
                            <h4>Phone Number : <%= item.phone %>
                            </h4>
                            <form
                                action="/patienthome/book/<%= data.patientid %>/<%= data.patientdisease %>/<%= item._id %>"
                                method="post">
                                Date: <input type="date" name="date">
                                <button type="submit">Book</button>
                            </form>
                        </li>
                        <br />
                    </div>
                    <% }); %>
            </ol>
        </div>

        <%- include('footer.ejs'); %>

</body>

</html>