<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('header',{data: data});-%>
        <title>Doctor</title>
</head>

<body>
    <div class="d-flex justify-content-center ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">mediGo</a>
        </nav>
    </div>

    <div class="d-flex flex-column align-items-center">
        <div class="p-2">
            <h6 class="name">
                <%= "Hello, doctor here is your appointment schedule?" %>
            </h6>
        </div>
        <div id="appointment">
            <ul>
                <% for(let i=0;i<data.appointmentarray.length;i++) {%>
                    <ul>Patient name:<%= data.appointmentarray[i].name %>
                            <li>email:<%= data.appointmentarray[i].email %>
                            <li>Appointment date:<%= data.appointmentarray[i].AppointmentDate %>
                            </li>
                            </li>
                    </ul>
                    <% } %>
            </ul>
        </div>
    </div>


    <%-include('footer');-%>
</body>

</html>