<!DOCTYPE html>
<html lang="en">
<!-- data.user -->

<head>
    <%- include('header'); -%>
        <link rel="stylesheet" href="css/index.css">
        <title>Home | Patient</title>
</head>

<body>
    <div class="d-flex justify-content-center ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">mediGo</a>
        </nav>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-evenly flex-warp">
        <div class="p-2">
            <h6 class="name">
                <%= "Hello, " + data.user.name + " are you feeling well?" %>
            </h6>
        </div>
        <div class="p-2 container">
            <div class="item">
                <h6>
                    Book Appointment with doctor you want
                </h6>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Specialist
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/patienthome/book/<%= data.user._id %>/ent">ENT</a>
                        <a class="dropdown-item" href="/patienthome/book/<%= data.user._id %>/lungs">Lungs</a>
                        <a class="dropdown-item" href="/patienthome/book/<%= data.user._id %>/hearts">Hearts</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <h6>All Appointment</h6>
                <div>
                    <button onclick="showAppointment(this)" id="show" type="button"
                        class="btn btn-secondary">Show</button>
                </div>
            </div>
        </div>
    </div>

    <div hidden id="appointment">
        <h1>how</h1>
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/patientlogout" role="button">Logout</a>
    </div>

    <script>
        function showAppointment(button) {
            let element = document.getElementById("appointment");
            let hidden = element.getAttribute("hidden");
            if (hidden) {
                element.removeAttribute("hidden");
                button.innerText = "Hide";
            } else {
                element.setAttribute("hidden", "hidden");
                button.innerText = "Show";
            }
        }
    </script>

    <%- include('footer'); -%>
</body>

</html>